# Import các thư viện

In [54]:
import pandas as pd
import numpy as np

# Đọc dữ liệu

In [55]:
# read data
df_rv = pd.read_csv("reviewQN.csv")
df_rv.head()

,Reviewer's name,Reviewer's id,Reviewer's address,Reviewer's contribution,Reviewer's rate,Reviewer's idea,Reviewer's content,Reviewer's whom and time,Reviewer's images,Reviewers's time feedback,Reviewer's place,url,Province
0,Salomé C,/Profile/Exploration484844,Không có thông tin,2,5,"LOVELY PERSON, GREAT WORK",Si comme moi vous fuyez les boutiques d'Hoi An...,thg 3 năm 2019 • Một mình,0,5/24/2019,Hiệu Vải Mai Xuân,https://www.tripadvisor.com.vn/Attraction_Revi...,Quảng Nam
1,melissa m,/Profile/melissamJ2626QJ,Không có thông tin,6,5,Love love love Mai’s shop,I went to many many shops in Hoi An interested...,thg 3 năm 2019 • Cặp đôi,0,3/19/2019,Hiệu Vải Mai Xuân,https://www.tripadvisor.com.vn/Attraction_Revi...,Quảng Nam
2,Yvonne B,/Profile/YvonneB2988,"Buelach, Thụy Sỹ",9,5,Toller Preis für top Qualität,Ich habe eine schöne Jacke zu einem sehr faire...,thg 2 năm 2019 • Cặp đôi,0,2/17/2019,Hiệu Vải Mai Xuân,https://www.tripadvisor.com.vn/Attraction_Revi...,Quảng Nam
3,Happy Go L,/Profile/happyg0l,Không có thông tin,10,5,Mai will take great care or you for sure!,Amongst the hundreds upon hundreds of tailor s...,thg 1 năm 2019 • Cặp đôi,0,1/16/2019,Hiệu Vải Mai Xuân,https://www.tripadvisor.com.vn/Attraction_Revi...,Quảng Nam
4,Purple Ninja,/Profile/PurpleNinja1983,"Singapore, Singapore",157,5,Great price for great quality,I tried to fit a ready to wear dresses off the...,thg 9 năm 2018 • Một mình,0,10/1/2018,Hiệu Vải Mai Xuân,https://www.tripadvisor.com.vn/Attraction_Revi...,Quảng Nam

# Làm sạch dữ liệu

In [56]:
# Làm sạch dữ liệu

#Gộp 2 cột Reviewer's idea và "Reviewer's content thành 1 cột tên là Review
df_rv["Review"] = df_rv["Reviewer's idea"] + df_rv["Reviewer's content"]
#Chỉ lấy 2 cột dữ liệu Review và "Reviewer's rate để phân tích
df = df_rv[["Review","Reviewer's rate"]]
df.head()

                                              Review  Reviewer's rate
0  LOVELY PERSON, GREAT WORKSi comme moi vous fuy...                5
1  Love love love Mai’s shopI went to many many s...                5
2  Toller Preis für top QualitätIch habe eine sch...                5
3  Mai will take great care or you for sure!Among...                5
4  Great price for great qualityI tried to fit a ...                5

In [57]:
#Đếm xem số lượng đánh giá của các sao
df["Reviewer's rate"].value_counts()

5    41942
4    10096
3     5755
2     1425
1      986
Name: Reviewer's rate, dtype: int64

In [58]:
#Những bình luận có đánh giá dưới 3 sao là Không hài lòng
df_neg = df.loc[df["Reviewer's rate"] < 3]
df_neg = df_neg.reset_index(drop=True)

In [59]:
#Những bình luận có đánh giá 5 sao là Hài lòng
df_five = df.loc[df["Reviewer's rate"] == 5]
df_five = df_five.reset_index(drop=True)

In [60]:
print(len(df_neg))
print(len(df_five))

2411
41942

Ta thấy rằng số lượng comment hài lòng và không hài lòng quá chênh lệch nên không thể tiến hành train model được. Do đó phải chia lại dữ liệu sao cho bằng nhau

In [61]:
#Số lượng comment hài lòng bằng số lượng comment không hài lòng
df_pos = df_five.loc[:len(df_neg)]
len(df_pos)

2412

In [67]:
#Nối 2 cột lại với nhau
df_all = pd.concat([df_neg, df_pos], axis = 0)
df_all = df_all.reset_index(drop=True)
print(len(df_all))
df_all.sample(5)

4823

                                                 Review  Reviewer's rate
1112  A sad and angry customer.Unfortunately I will ...                1
2341  DisappointingVisited this bar at 10pm hoping i...                1
2136  臭いし。確かに名物です。一度は見るべきでしょう。が、通行のたびにチケットを要求されるし、とに...                2
4650  Eva and julia여기 리틀리버사이드에서 묵는동안 무료 스파사용을 하였는데 편...                5
657   You could give it a missWe walked over the bri...                1

# Tạo cột Sentiments (Cảm nhận của khách hàng)

In [73]:
#Tạo cột Sentiments, nếu đánh giá 5 sao là Hài lòng và ngược lại là Không hài lòng
df_all["Sentiments"] = np.where(df_all["Reviewer's rate"] == 5,"Hài lòng" ,"Không hài lòng")
df_all.sample(5)

,Review,Reviewer's rate,Sentiments
1979,Vad är grejen?En tråkig och ful liten bro. Vet...,1,Không hài lòng
329,Slightly disappointingHad high hopes for the n...,2,Không hài lòng
2605,One Stop Shop!This woman owned business goes o...,5,Hài lòng
3619,Best Live Music Venue in Hoi AnWe visited Fend...,5,Hài lòng
434,Musea om even doorheen te lopen.Wel een leuk m...,2,Không hài lòng

In [74]:
df_all = df_all.sample(frac = 1)
df_all = df_all.reset_index(drop=True)
df_all.head(10)

,Review,Reviewer's rate,Sentiments
0,Great serviceI had a great manicure here. The ...,5,Hài lòng
1,Hoàn hảoCảm ơn các bạn làm móng đã cho tôi một...,5,Hài lòng
2,마사지받았어용ㅋ오오오오 짱 시원해요 !! 강추강추 가격도 좋음 호이안 오시거든 꼭 ...,5,Hài lòng
3,Spa niceThe best one in hoi an with body massa...,5,Hài lòng
4,Un timo si no sabes regatearDependienta muy ex...,1,Không hài lòng
5,Cobran para eso?Muy bonito pero no para pagar....,2,Không hài lòng
6,Terribly disappointed by the qualityI ordered ...,2,Không hài lòng
7,Great for tailor made suits and shirtsI splurg...,5,Hài lòng
8,Le bonheurC’est la première fois que je fais u...,5,Hài lòng
9,Отличный массаж!Отличный массаж! Рекомендую. О...,5,Hài lòng

# Chia dữ liệu để train và test

In [80]:
#Sử dụng thư viện train_test_split của sklearn để tự động chia dữ liệu
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_all.Review, df_all.Sentiments)

In [81]:
#Chuyển dữ liệu sang dạng chuẩn để train
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_vec = v.fit_transform(x_train)
x_test_vec = v.transform(x_test)

# Sử dụng thuật toán phân lớp SVM (Support Vector Machine)

In [82]:
#Sử dụng thuật toán SVM để train dữ liệu
from sklearn import svm
clf_svm = svm.SVC(kernel="linear")
clf_svm.fit(x_train_vec, y_train)

SVC(kernel='linear')

In [83]:
#Tính độ chính xác của model
clf_svm.score(x_test_vec, y_test)

0.9834162520729685

In [84]:
#Kiểm định f1
from sklearn.metrics import f1_score
f1_score(y_test, clf_svm.predict(x_test_vec),average=None)

array([0.98363339, 0.98319328])

# Kết quả

In [85]:
rev = ["This place was beautiful, cant wait to come back"]
rev_vec = v.transform(rev)
clf_svm.predict(rev_vec)

array(['Hài lòng'], dtype=object)

In [86]:
rev = ["Absolutely hated this places. Horrible food"]
rev_vec = v.transform(rev)
clf_svm.predict(rev_vec)

array(['Không hài lòng'], dtype=object)

In [87]:
rev = ["Nơi này xấu quá"]
rev_vec = v.transform(rev)
clf_svm.predict(rev_vec)

array(['Không hài lòng'], dtype=object)

In [89]:
rev = ["Đây là lần đầu tôi đến một nơi thú vị như vậy"]
rev_vec = v.transform(rev)
clf_svm.predict(rev_vec)

array(['Hài lòng'], dtype=object)